@font-face {
    font-family: 'RubikBurned-Regular';
    src: URL('../fonts/Kanit-Regular.ttf') format('truetype');
}

body{
    font-family: 'RubikBurned-Regular';
    color: #000000;
}

header{
    background: #ffffff;
}

#LOGO{
    width: 120px;
}

header{
    border-bottom: thin solid #000000;
}

.btn.btn-link{
    color: #000000;
}

.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
    color: #f7c500;
}

a{
    color: #f7c500;
}

#LEFTPANEL{
    padding: 2em !important;
    background-color: #f7c500;
}

#RIGHTPANEL{
    border-left: thin solid #f7c500;
    background-color: #000000;
    color: #f7c500;
}

#RIGHTPANEL a {
    color: #f7c500;
}
.carousel{
    width: 80%;
    border: thin solid #f7c500;
    background: #262626;
}

.carousel-item img{
    height: 70vh;
}

#SMNAV{
    display: none;
}

@media only screen and (max-width: 590px){
    #HERO{
	height: 20vh;
	padding: 1em
    }

    #LGNAV{
	display: none;
    }

    #SMNAV{
	display: block;
    }
}
