@font-face {
    font-family: 'RubikBurned-Regular';
    src: URL('../fonts/Kanit-Regular.ttf') format('truetype');
}

body{
    font-family: 'RubikBurned-Regular';
    color: #000000;
}
#LOGO{
    width: 120px;
}

header{
    border-bottom: thin solid #f7c500;
}

.btn.btn-link{
    color: #000000;
}

.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
    color: #f7c500;
}

a{
    color: #f7c500;
}

#LEFTPANEL{
    padding: 2em !important;
}

#RIGHTPANEL{
    border-left: thin solid #f7c500;
}

#RIGHTPANEL a {
    color: #f7c500;
}
.carousel{
    width: 80%;
    background-color:#f7c500;
}

.carousel-item img{
    height: 70vh;
}
